<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href = "home.css">
        <title>MunchSwipe</title>
    </head>
    <body>
        <form>
            <label>Location</label><br>
            <input type="text" id="location" name="location"><br>
            
            <label>Price Range</label><br>
            <input type="radio" id="price_1" name="price" value="1">
            <label>$</label>
            <input type="radio" id="price_2" name="price" value="2">
            <label>$$</label>
            <input type="radio" id="price_4" name="price" value="3">
            <label>$$$</label>
            <br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>